.el-tabs__nav-wrap::after
  height 0 !important
.el-tabs__active-bar
  height 0 !important
.el-tabs__item.is-active
  color #4EC2BD !important
  font-size 13px !important
.el-tabs__item:hover
  color #4EC2BD !important
.el-tabs__item
  font-size 13px !important
.el-tabs__header
  margin 0  !important
.el-pagination .btn-next
 background-color #f4f4f4 !important
.el-pagination button
  background-color #f4f4f4 !important
.el-pager li
  background #f4f4f4 !important
.el-form-item__content
  margin-left 20px !important
.el-input__inner
    border none !important
